<html>   
    <head>

    </head>
    <body>
        <table>
            <tr>
                <td>
                  <p>Chúng tôi đã thay đổi mật khẩu của bạn</p>
                  <p>Mật khẩu mới của bạn là:</p>
                  <table>
                    <tbody>
                      <tr>
                        <td>
                            <%= newPassword %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
        </table>
    </body>
</html>