<html>   
    <head>

    </head>
    <body>
        <h3>Xác thực EMAIL</h3>
        <p>
            <%= confirmationCode%>
        </p>
        <p>
            <a href="<%= confirmUrl%>">Nhấp vào đây</a>
        </p>
    </body>
</html>